main {
  width: 1000px;
  min-height: 840px;
  margin: 10px auto;
  background-color: rgba(143, 143, 143, 0.612)
}

h2 {
  color: rgb(52, 52, 52);
}

div {
  margin: 10px auto;
  text-align: center;
  background-color: white;
}

h3 {
  font-size: 35px;
  padding: 25px 10px;
  color: rgb(52, 52, 52);
}

#statusBarContainer {
  width: 960px;
  height: 80px;
  margin: 15px auto;
  margin-top: 20px;
  overflow: auto;
}

#statusBarContainer>h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  text-align: center;
  width: 100px;
  height: 85px;
  margin-top: 0px;
  padding-top: 10px;
  float: left;
  overflow: auto;
}

#barContainer {
  width: 750px;
  height: 80px;
  margin-top: 0px;
  float: left;
  overflow: auto;
}

#correct-bars li {
  background-color: rgb(43, 255, 0);
  width: 70px;
  height: 75px;
  display: inline-block;
  float: left;
  margin: 2px;
}

#nextLevel {
  float: right;
}

#timer {
  width: 160px;
  height: 160px;
  margin: 5px auto;
  margin-left: 20px;
  overflow: auto;
  font-family: 'Rajdhani', sans-serif;
  float: left;
}

#code-block>h2 {
  font-family: 'Rajdhani', sans-serif;
  padding-top: 10px;
}

#code-block {
  width: 600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#resultMessageContainer {
  width: 160px;
  height: 160px;
  margin: 5px auto;
  margin-right: 20px;
  float: right;
  font-family: 'Rajdhani', sans-serif;
  overflow: auto;
}

#resultMessage {
  color: white;
}

#user-input-box {
  width: 600px;
  height: 100px;
  padding: 10px 0px;
  margin-top: 20px;
}

#enterButton {
  color: white;
  background: blue;
  box-shadow: 0 10px 0 rgb(187, 187, 187);
}

#nextButtonContainer {
  background-color: transparent;
}

#nextButton {
  visibility: hidden;
  color: black;
  background: rgb(27, 164, 0);
  box-shadow: 0 10px 0 rgb(255, 255, 255);
  width: 250px;
  height: 50px;
  font-family: 'Rajdhani', sans-serif;
}

#see-results {
  height: 50px;
  width: 250px;
  padding-top: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Rajdhani', sans-serif;
}

#see-results a {
  font-size: 20px;
}

h4 {
  font-size: 40px;
  padding: 5px 40px;
}

#congratsMessage {
  font-size: 45px;
  padding-top: 20px;
}

nav {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-flex;
}

nav ul {
  display: inline-flex;
  align-content: space-around;
  justify-content: space-evenly;
}

nav li {
  display: inline;
  font-family: 'Rajdhani', sans-serif;
  margin-right: 50px;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 10px;
  display: inline-flex;
  background-color: white
}

.shrink:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

a:hover {
  color: orange;
}

button {
  width: 150px;
  border: 0;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font: inherit;
  margin: 5px auto;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

button, input, select, textarea {
  font-family: 'Rajdhani', sans-serif;
  font-size: 100%;
}

label {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}

form input {
  width: 75%;
  margin-top: 5px;
}