body {
  background: url("/img/blurred.png") fixed;
}

footer {
  background-color: blue;
  margin-top: 50px;
}

main {
  width: 960px;
  min-height: 600px;
  margin: 10px auto;
}

/* name of game */

h1 {
  font-family: 'Monofett', cursive;
  margin-top: 10px;
  text-align: center;
  font-size: 60px;
  color: blue;
  background-color: white;
}

span {
  color: red;
}

/* instructions & form  */

h2 {
  margin: 10px auto;
  text-align: center;
  font-size: 50px;
  margin: 20px auto;
  font-family: 'Monofett', cursive;
  background-color: white;
  color: #da0078;
}

/* game instructions copy */

p {
  margin: 10px auto;
  max-width: 500px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}

div {
  /* width: 800px;
  height: 220px; */
  /* margin: 20px auto;
  text-align: center;
  background-color: white; */
}